1: Loading dataset

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [5]:
train_trans = pd.read_csv('train_transaction.csv')
train_id = pd.read_csv('train_identity.csv')

In [6]:
train_trans.shape, train_id.shape

((590540, 394), (144233, 41))

In [7]:
train_trans.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
train_id.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS

2:Check the data memory:

In [9]:
memory_trans = train_trans.memory_usage().sum() / 1024**2
print('Memory usage of dataframe is {:.2f} MB'.format(memory_trans))

Memory usage of dataframe is 1775.15 MB

In [10]:
memory_id = train_id.memory_usage().sum() / 1024**2
print('Memory usage of dataframe is {:.2f} MB'.format(memory_id))

Memory usage of dataframe is 45.12 MB

Write function for check the columns datatype

In [11]:
for colname, coltype in train_trans.dtypes.iteritems(): 
    print(colname, coltype)

TransactionID int64
isFraud int64
TransactionDT int64
TransactionAmt float64
ProductCD object
card1 int64
card2 float64
card3 float64
card4 object
card5 float64
card6 object
addr1 float64
addr2 float64
dist1 float64
dist2 float64
P_emaildomain object
R_emaildomain object
C1 float64
C2 float64
C3 float64
C4 float64
C5 float64
C6 float64
C7 float64
C8 float64
C9 float64
C10 float64
C11 float64
C12 float64
C13 float64
C14 float64
D1 float64
D2 float64
D3 float64
D4 float64
D5 float64
D6 float64
D7 float64
D8 float64
D9 float64
D10 float64
D11 float64
D12 float64
D13 float64
D14 float64
D15 float64
M1 object
M2 object
M3 object
M4 object
M5 object
M6 object
M7 object
M8 object
M9 object
V1 float64
V2 float64
V3 float64
V4 float64
V5 float64
V6 float64
V7 float64
V8 float64
V9 float64
V10 float64
V11 float64
V12 float64
V13 float64
V14 float64
V15 float64
V16 float64
V17 float64
V18 float64
V19 float64
V20 float64
V21 float64
V22 float64
V23 float64
V24 float64
V25 float64
V26 float64
V27 float64
V28 float64
V29 float64
V30 float64
V31 float64
V32 float64
V33 float64
V34 float64
V35 float64
V36 float64
V37 float64
V38 float64
V39 float64
V40 float64
V41 float64
V42 float64
V43 float64
V44 float64
V45 float64
V46 float64
V47 float64
V48 float64
V49 float64
V50 float64
V51 float64
V52 float64
V53 float64
V54 float64
V55 float64
V56 float64
V57 float64
V58 float64
V59 float64
V60 float64
V61 float64
V62 float64
V63 float64
V64 float64
V65 float64
V66 float64
V67 float64
V68 float64
V69 float64
V70 float64
V71 float64
V72 float64
V73 float64
V74 float64
V75 float64
V76 float64
V77 float64
V78 float64
V79 float64
V80 float64
V81 float64
V82 float64
V83 float64
V84 float64
V85 float64
V86 float64
V87 float64
V88 float64
V89 float64
V90 float64
V91 float64
V92 float64
V93 float64
V94 float64
V95 float64
V96 float64
V97 float64
V98 float64
V99 float64
V100 float64
V101 float64
V102 float64
V103 float64
V104 float64
V105 float64
V106 float64
V107 float64
V108 float64
V109 float64
V110 float64
V111 float64
V112 float64
V113 float64
V114 float64
V115 float64
V116 float64
V117 float64
V118 float64
V119 float64
V120 float64
V121 float64
V122 float64
V123 float64
V124 float64
V125 float64
V126 float64
V127 float64
V128 float64
V129 float64
V130 float64
V131 float64
V132 float64
V133 float64
V134 float64
V135 float64
V136 float64
V137 float64
V138 float64
V139 float64
V140 float64
V141 float64
V142 float64
V143 float64
V144 float64
V145 float64
V146 float64
V147 float64
V148 float64
V149 float64
V150 float64
V151 float64
V152 float64
V153 float64
V154 float64
V155 float64
V156 float64
V157 float64
V158 float64
V159 float64
V160 float64
V161 float64
V162 float64
V163 float64
V164 float64
V165 float64
V166 float64
V167 float64
V168 float64
V169 float64
V170 float64
V171 float64
V172 float64
V173 float64
V174 float64
V175 float64
V176 float64
V177 float64
V178 float64
V179 float64
V180 float64
V181 float64
V182 float64
V183 float64
V184 float64
V185 float64
V186 float64
V187 float64
V188 float64
V189 float64
V190 float64
V191 float64
V192 float64
V193 float64
V194 float64
V195 float64
V196 float64
V197 float64
V198 float64
V199 float64
V200 float64
V201 float64
V202 float64
V203 float64
V204 float64
V205 float64
V206 float64
V207 float64
V208 float64
V209 float64
V210 float64
V211 float64
V212 float64
V213 float64
V214 float64
V215 float64
V216 float64
V217 float64
V218 float64
V219 float64
V220 float64
V221 float64
V222 float64
V223 float64
V224 float64
V225 float64
V226 float64
V227 float64
V228 float64
V229 float64
V230 float64
V231 float64
V232 float64
V233 float64
V234 float64
V235 float64
V236 float64
V237 float64
V238 float64
V239 float64
V240 float64
V241 float64
V242 float64
V243 float64
V244 float64
V245 float64
V246 float64
V247 float64
V248 float64
V249 float64
V250 float64
V251 float64
V252 float64
V253 float64
V254 float64
V255 float64
V256 float64
V257 float64
V258 float64
V259 float64
V260 float64
V261 float64
V262 float64
V263 float64
V264 float64
V265 float64
V266 float64
V267 float64
V268 float64
V269 float64
V270 float64
V271 float64
V272 float64
V273 float64
V274 float64
V275 float64
V276 float64
V277 float64
V278 float64
V279 float64
V280 float64
V281 float64
V282 float64
V283 float64
V284 float64
V285 float64
V286 float64
V287 float64
V288 float64
V289 float64
V290 float64
V291 float64
V292 float64
V293 float64
V294 float64
V295 float64
V296 float64
V297 float64
V298 float64
V299 float64
V300 float64
V301 float64
V302 float64
V303 float64
V304 float64
V305 float64
V306 float64
V307 float64
V308 float64
V309 float64
V310 float64
V311 float64
V312 float64
V313 float64
V314 float64
V315 float64
V316 float64
V317 float64
V318 float64
V319 float64
V320 float64
V321 float64
V322 float64
V323 float64
V324 float64
V325 float64
V326 float64
V327 float64
V328 float64
V329 float64
V330 float64
V331 float64
V332 float64
V333 float64
V334 float64
V335 float64
V336 float64
V337 float64
V338 float64
V339 float64

In [12]:
np.finfo(np.float64).max,np.finfo(np.float64).min,np.finfo(np.float32).max,np.finfo(np.float32).min,np.finfo(np.float16).max,np.finfo(np.float16).min

(1.7976931348623157e+308,
 -1.7976931348623157e+308,
 3.4028235e+38,
 -3.4028235e+38,
 65500.0,
 -65500.0)

In [72]:
np.iinfo(np.int64).max,np.iinfo(np.int64).min,np.iinfo(np.int32).max,np.iinfo(np.int32).min,np.iinfo(np.int16).max,np.iinfo(np.int16).min

(9223372036854775807,
 -9223372036854775808,
 2147483647,
 -2147483648,
 32767,
 -32768)

Conver the type and decrease our memory

In [13]:
f64 = train_trans.select_dtypes(include ='float64')
for i in f64:
    if train_trans[i].max() < 65500 and train_trans[i].min() > -65500:
        train_trans[i] = train_trans[i].astype(np.float16)
    elif train_trans[i].max() < 3.4028235e+38 and train_trans[i].min() > -3.4028235e+38:
        train_trans[i] = train_trans[i].astype(np.float32)
    else:
        train_trans[i] = train_trans[i].astype(np.float64)

In [74]:
int64 = train_trans.select_dtypes(include ='int64')
for i in int64:
    if train_trans[i].max() < 32767 and train_trans[i].min() > -32768:
        train_trans[i] = train_trans[i].astype(np.int16)
    elif train_trans[i].max() < 2147483647 and train_trans[i].min() > -2147483648:
        train_trans[i] = train_trans[i].astype(np.int32)
    else:
        train_trans[i] = train_trans[i].astype(np.int64)

        TransactionID  TransactionDT
0             2987000          86400
1             2987001          86401
2             2987002          86469
3             2987003          86499
4             2987004          86506
...               ...            ...
590535        3577535       15811047
590536        3577536       15811049
590537        3577537       15811079
590538        3577538       15811088
590539        3577539       15811131

[590540 rows x 2 columns]

In [14]:
memory_trans = train_trans.memory_usage().sum() / 1024**2
print('Memory usage of dataframe is {:.2f} MB'.format(memory_trans))

Memory usage of dataframe is 554.17 MB

for the train_trans file the memory become 642.03 MB after convert. for the train_id file 45.12 MB is small enough to operate.